.logo {
  position: relative;
  height: 60px;
  width: 60px;
  left: 30px;
}
.nav1 {
  position: absolute;
  left: 150px;
}
.nav2 {
  position: absolute;
  left: 220px;
}
.nav3 {
  position: absolute;
  left: 310px;
}
.nav4 {
  position: absolute;
  left: 390px;
}
.nav5 {
  position: absolute;
  left: 465px;
}
.nav6 {
  position: absolute;
  top: 34px;
  left: 540px;
}

.search {
  position: absolute;
  left: 750px;
  top: 27px;
  height: 34px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid rgb(114, 110, 110);
  background-color: rgb(8, 8, 8);
  color: white;
}

.login {
  position: absolute;
  top: 27px;
  left: 1080;
  height: 35px;
  width: 90px;
  border-radius: 5px;
  border: solid white 1px;
  background-color: black;
  color: white;
  font-size: large;
  font-weight: 500;
}
.buy {
  position: absolute;
  left: 1190;
  top: 27px;
  border-radius: 6px;
  border: rgb(138, 50, 205);
  height: 35px;
  width: 130px;
  background-color: rgb(138, 50, 205);
  color: white;
  font-size: medium;
  font-weight: 500;
}
.line {
  background-color: black;
  color: white;
  height: 35px;
  width: 30px;
  border: 1px solid rgb(170, 168, 168);
  border-radius: 8px;
  margin-top: 14px;
  z-index: 2;
}

.nav-color {
  background-color: rgb(13, 0, 21);
}
.hw:hover {
  display: flex;
  text-decoration: underline solid 1px;
  text-underline-offset: 10px;
}
.hv:hover {
  display: flex;
}
.nv {
  height: auto;
  width: auto;
}
body {
  background-color: rgb(13, 0, 21);
  color: rgb(13, 0, 21);
  background: rgb(13, 0, 21);
}
