html,body 
{
    height: 100%;
    width: 100%;
}
button
{
    padding: 15px;
    margin: 0 5px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    width: 50px;
}
.row 
{
    margin: 8px 0;
}
.row input {
    margin: 0px;    
    padding: 15px 35px 15px 35px;
    border: 2px solid;
    border-radius: 9px;
}
.container
{
    background-image: linear-gradient( to left , rgb(156, 158, 169) ,rgb(39, 46, 101));
}