@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap");
* {
  padding: 0px;
  margin: 0px;
  /* background-image: linear-gradient(to RIGHT,#004992,#6ab3fc); */
  /* font-family: 'Anonymous Pro', monospace; */
  font-family: "Anonymous Pro", monospace;
}

h1 {
  position: relative;
  color: rgb(4, 62, 70);
  padding: 15px;
  /* top: 20px; */
  text-align: center;
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;     */
  background-image: linear-gradient(to bottom, #0069d1, #4ea4fa);
}

.sidebar {
  background-color: yellow;
  width: 20%;
}

.main {
  background-color: green;
  width: 80%;
}

.container {
  display: flex;
}
