
    *{
        margin: 0px;
        padding: 0px;
        
    }
    
    
    .row {
        
        display: flex;
        flex-wrap: wrap;
        background-image: linear-gradient(to bottom,#020115,#15457c);
        height: 150px;
      
        
    }
    .col {
        display: flex;
        color:  black; 
        height: 10px;
        width: 7.5% ;
        
    }
    .colm {
        
        display: flex;
        color:  black; 
        height: auto;
        width:12% ;
        
       
    }
    

    .BUY {
        
            background-image: linear-gradient(to bottom,#2f78c1,#041d36);
            border-radius: 4px;
            border: 2px solid #000102;
            block-size: 50px; 
            color: #fefefe;
        
    }
    .row2 {
        
        position: sticky;
        background-color: white;
        height: 95px;                                               
        top: 0px;
        border-bottom: 2px solid rgb(181, 181, 181);
        z-index: 3;
        
        
    }
    .col-2
    {
        display: inline-block;
        position: relative;
        color:  black; 
        top: -27px  ;
        width: auto ;
        left: 270px;
        height: auto;
        margin-right:30px ;
        margin-left: 35px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    

    }
    .col-2:hover 
    {
        color: #0984ff;
        
    }
   
    

    p
    {
        position: relative;
        top: 8px;
        

    }
    .log 
    {   
        position: relative;
        left:  100px;
        top: -35px;
        background-image: linear-gradient(to bottom,#0984ff,#70b8ff);
        border-radius: 4px;
        border: 2px solid #051729;
        block-size: 60px; 
        width: 200px;
        color: #fefefe;
    }
             
   

    .box {
     display: inline-block;
     height: 350px;
     width: 320px;
    
    }

    .row3 {
        
        position: relative;
        top: 150px;
       
        font-weight: 300;
        font-size: 25px ;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
      
        
    }
    .text {
        
        position: relative;
        top: 70px;
        left: 60px;
        font-weight: 700;
        font-size: 30px ;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
          
    }

    .text:hover
    {
        color: #0984ff;
        text-decoration: underline black;
        text-underline-offset: 15px;

    }


    .row4 {
        
        position: relative;
        top: 250px;
        font-weight: 300;
        font-size: 25px ;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        
      
        
    }
    .text2 {
        
        position: relative;
        top: 200px;
        left: 60px;
        font-weight: 700;
        font-size: 30px ;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          
        
    }
    .text2:hover
    {
        color: #0984ff;
        text-decoration: underline black;
        text-underline-offset: 15px;

    }

    /* new */
 
 .css-vubbuv {

    height: 1em;
    width: auto;  
}
    /* new */
   