
.BUY {
    
   

 }


@media screen and ( max-width: 568px )

{

 .col-sm-1 {width: 8.33%;}
 .col-sm-2 {width: 16.66% ;}
 .col-sm-3 {width: 24.99%;}
 .col-sm-4 {width: 33.32%;}
 .col-sm-5 {width: 41.65%;}
 .col-sm-6 {width: 49.98%;}
 .col-sm-7 {width: 58.31%;}
 .col-sm-8 {width: 66.64%;}
 .col-sm-9 {width: 74.97%;}
 .col-sm-10 {width: 83.3%;}
 .col-sm-11 {width: 91.63%;}
 .col-sm-12 {width: 100%;}
 

}

@media screen and ( min-width: 568px )

{

 .col-1  {width: 8.33%;}
 .col-2 {width: 16.66%;}
 .col-3 {width: 24.99%;}
 .col-4 {width: 33.32%;}
 .col-5 {width: 41.65%;}
 .col-6 {width: 49.98%;}
 .col-7 {width: 58.31%;}
 .col-8 {width: 66.64%;}
 .col-9 {width: 74.97%;}
 .col-10 {width: 83.3%;}
 .col-11 {width: 91.63%;}
 .col-12 {width: 100%;}
 
}