body {
  background-color: rgb(0, 0, 0);
}

.box {
  display: inline-block;
  height: 350px;
  width: 200px;
  margin: 20px 20px 20px 20px;
}

img {
  border-radius: 8px;
}

.box img:hover {
  display: flex;
  border: 2px solid white;
  border-radius: 9px;
  padding: 0px 0px 20px;
  background-color: white;
}

.TEXT:hover {
  display: flex;
  text-decoration: underline solid 3px;
  text-underline-offset: 10px;
}

#imge {
  display: flex;
  margin: 30px 0px 0px 40px;
}

.fixed-header {
  display: flex;
  width: 100%;
  position: fixed;
  background: black;
  padding: 10px;
  z-index: 5;
}

.fixed-header {
  top: -30px;
}

.search {
  display: flex;
  block-size: 35px;
  align-self: center;
  border: 1px solid white;
  border-radius: 10px;
}

.LOGIN {
  display: flex;
  border: 2px solid white;
  border-radius: 8px;
  align-self: center;
  text-align: center;
  block-size: 35px;
  padding: 9px 18px 5px 18px;
}
.BUY {
  display: flex;
  border: 2px solid rgb(138, 50, 205);
  border-radius: 4px;
  align-self: center;
  text-align: center;
  block-size: 35px;
  padding: 6px 18px 10px 18px;
}

h2 {
  color: white;
}
background-image {
  position: relative;
  top: 500px;
  left: 20px;
}
.b1 {
  display: inline-block;
  height: 350px;
  width: 260px;
  margin: 5px 13px 25px 20px;
  background-repeat: no-repeat;
  border-radius: 10px;
}

span {
  display: inline-block;
  margin: 350px 50px 50px 50px;
}

.b1:hover {
  scale: 1.1;
  color: rgb(0, 0, 0);
  border: 5px solid white;
  border-radius: 7px;
  padding: 0px 0px 25px;
  background-color: white;
  position: static;
  top: 50px;
}
